@import url('https://fonts.googleapis.com/css2? family= Tiro+Devanagari+Sanskrit:ital@0;1 & display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #232730;
}

/** HEADER */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #F5f2b8;
    background-image: url(./images/Ylan_fundo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 100px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #232730;
    padding: 1rem 4rem;
    border: 2px solid #232730;
    min-width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: #494a4c;
}

/*! MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #232730;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 25px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 45px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 65px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/*? MENU */

.menu {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent; /* Nao aparecer agora*/
    height: 5px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #494a4c;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0; /* Verificar opacidade */
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #232730;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
}

/*? ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 50px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 50px;
}

#toggle:checked + .checkbox {
    background-color: #494a4c;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #494a4c;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/*TODO CARDS*/

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5f2b8;
    background-image: url(./images/Ylan_fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #232730;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 50%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #494a4c;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4 px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 195px;
    width: 195px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 15px;
}

/*! FOOTER*/

.footer {
    width: 100%;
    height: 60px;
    background-color: #F5f2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232730;
}